* {
  background-color: black;
}

.cursor {
  width: 18vh;
  height: 18vh;
  background-color: aqua;
  position: fixed;
  /* border-radius: 1%; */
  filter: blur(80px);
}

li,
ul,
a {
  background-color: black;
}
